:root {
  --van-primary-color: #4FA34F;
  --van-background: #141414;
  --van-background-2: #242424;
  --van-background-3: #333333;
  --van-background-4: #3C3C3C;
  --van-background-5: #4A4A4A;
  
  --van-text-color: #F0F0F0;
  --van-text-color-2: #C4C4C4;

  --van-border-color: var(--van-background-4);

  --van-button-default-color: var(--van-text-color);
  --van-button-default-background: var(--van-background);
  --van-button-default-border-color: var(--van-background-4);
  --van-button-primary-color: var(--van-text-color);
  --van-button-primary-background: var(--van-primary-color);
  
  --van-cell-group-inset-title-padding: 8px;
  --van-cell-active-color: var(--van-background-4);

  --van-dialog-background: var(--van-background);

  --van-progress-background: var(--van-background-4);
}

* {
  box-sizing: border-box;
}

html,
body {
  background: var(--van-background);
  color: var(--van-text-color);
  font-family: "Noto Sans SC", "PingFang SC", "Microsoft YaHei", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overscroll-behavior: none;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
}

.popup {
  background: var(--van-background-3);
  padding: 12px;
  padding-top: 4px;
  display: grid;
  gap: 8px;
  height: 100vh;
}

.popup-header {
  display: grid;
  grid-template-columns: 32px 1fr auto;
  gap: 12px;
  align-items: center;
  height: 40px;
}

.popup-header-back {
  width: 32px;
  height: 32px;
  border-radius: 10px;
  border: 0;
  background: none;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.popup-header-title {
  font-size: 18px;
  font-weight: 600;
}

.popup-header-confirm {
  width: 80px;
  height: 32px;
  font-size: 16px;
}